.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    align-items: center;
    text-align: center;
    justify-content: center;
    ;
}
    /* h1:after{
    background: none repeat scroll 0 0 0 #1d3153;
    bottom: -10px;
    content: "";
    display: flex;
    height: 10px;
    position: fixed;
    width: 200px;
} */
.featuredTitle {
    font-size: 20px;
    margin-top: 20px;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-size: 20px;
    font-weight: 600;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
    cursor: pointer;
    
}

.featuredIcon.negative {
    color: black;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center ;
}

.featuredSub {
    font-size: 15px;
    color: gray;
    margin-top : 0px;
}

@media only screen and (max-width: 420px) {
    .featured{
        flex-direction: column;
        /* font-size: 20px; */
        margin: 10px 0px;
    }
    .featured {
        /* flex-direction: column; */
        /* font-size: 20px; */
        margin: 30px 0px;
    }
   
}