.car{
    background-color: #1D3153;
    /* width: 1500px;
    height: 1400px; */
    /* background-image: linear-gradient( to left, #F59500, #f56700); */
    /* color: black; */
}
.caption {
    color: black;
}
.caption h2 {
    color: white;
}

/* .imgg{
    width: 1200px;
    height: 15000px;
} */
